body {
	font-size: 150%;
	background-color: powderblue;
	font-family: helvetica;
	padding: 1px;
}
img {
	border: solid black 2px;
}
a {
	color: blue;
	text-decoration: none;
}
a: visited {
	color: green;
}
a: hover {
	text-decoration: underline;
}
p {
	text-align: center;
}
.menu {
	margin-left: 50px;
	color: black;
	font-family: cambria;
	font-size: 20px;
	display: inline-block;
	font-weight: 425;
	transition: color 0.4s ease;
	background-color: #9370DB;     /* #9370DB pentru culoarea mov deschis */
	font-size: 30px
}

.menu:hover {
	color: orange;
	transition: color 0.4s ease;
}

.title {
	margin-left: 50px;
	width: 800px;
	margin-top: 60px;
	display: block;
}

.under_title {
	font-size: 23px;
}

.first {
	font-size: 23px;
}

.image {
	display: block;
}

.descriere {
	display: block;
	margin-bottom: 0px
}

header {
	position: sticky;
	top: 0;
	background-color: wheat;
	margin: 0px 0px 0px 0px;
}

.subscribe {
	padding: 10px;
	margin: 0px 0px 0px px;
}

.subscribe input {
	width: 200px;
	padding: 5px;
}

.subscribe button {
	padding: 5px 10px;
	color: black;
}